@charset "utf-8";

@import 'normalize';

body {
  background: #d4d4d4 url("../images/background.png");
  font-family: sans-serif; 
}

@import "bourbon";
@import "grid-settings";
@import "neat";

@import "mixins";


.outter-container{
  @include outer-container;
}

.single-feed{
  @include span-columns(6);
  @include collapse;
}

.multiple-feeds{
  @include span-columns(6);
  @include omega;
  @include collapse;
}

.entry{
  border-bottom:1px solid #888;
}

.feed-title{
  font-weight:bold;
  color:#700;
}

.author{
  font-style: italic;
  color:#070;
}

.entry-title{
  color:#007;
}
