@mixin collapse{
  @include media( $mobile ) {
    @include span-columns(4);
  }

  @include media( $tablet ) {
    @include span-columns(8);
  }
}


// Opacity with alpha filter support for ie.
@mixin opacity($val) {
    opacity:$val;
    -moz-opacity:$val;
    -webkit-opacity:$val;
    filter:alpha(opacity=($val * 100));
}
