<div class="header">
  <h1><%= link_to "HandlebaRss", "index.html" %></h1>
  <h3>RSS engine for static sites</h3>
  <ul class="">
    <li><%= link_to "Single feeds", "single.html" %></li>
    <li><%= link_to "Multiple feeds", "multiple.html" %></li>
  </ul>
</div>
