---
title: HandlebaRss - RSS engine for static sites.
---

<h3>HandlebaRss is a lightweight RSS engine for static web sites.</h3>

<h3>It uses handlebars templates to allow you to completely customize your feed rendering.</h3>

<hr />

<div class="single-feed">
  <h2>Individual feed demos</h2>
  <p><%= link_to "Learn how to embed individual feeds", "single.html" %></p>
  <div id="single-destination"></div>
  <div id="single-destination-chomp"></div>
</div>

<div class="multiple-feeds">
  <h2>Multiple feeds demo</h2>
  <p><%= link_to "Learn how to embed multiple feeds", "multiple.html" %></p>
  <div class="feed">
    <h2>Posts from OKC Area Developers</h2>
    <div id="multiple-destination"></div>
  </div>
</div>


<!-- the handlebars template for the single feed -->
<script id="single-feed-template" type="text/x-handlebars-template">
  <div class="feed">
  <h2><a href="{{link}}" class="feed-title">{{title}}</a> by <span class="author">{{author}}</span></h2>
  {{#each entries}}
    <div class="entry">
      <h4><a href="{{link}}" class="entry-title">{{title}}</a></h4>
      <p>{{contentSnippet}}</p>
    </div>
  {{/each}}
  </div>
</script>


<!-- the handlebars template for multiple feeds -->
<script id="multiple-feed-template" type="text/x-handlebars-template">
  {{#each entries}}
  <div class="entry">
    <h4><a href="{{link}}" class="entry-title">{{title}}</a></h4>
    <p>
      From <span class="feed-title">{{feed.title}}</span> by <span class="author">{{feed.author}}</span>
      <br/>
      {{publishedDate}}
    </p>
  </div>
  {{/each}}
</script>

<script type="text/javascript" charset="utf-8">
  rss = new HandlebaRss("http://www.octolabs.com/blogs/octoblog/feed.xml","#single-feed-template","#single-destination");
  rss.init();

  rss = new HandlebaRss("http://datachomp.com/atom.xml","#single-feed-template","#single-destination-chomp");
  rss.init();

  rss = new HandlebaRss([
    "http://www.octolabs.com/blogs/octoblog/feed.xml",
    "http://datachomp.com/atom.xml",
    "http://geekindulgence.com/rss/",
    "http://www.okcruby.org/atom.xml",
    "http://okcjs.com/atom.xml",
    "http://joekarl.github.io/feed.xml",
    "http://vancelucas.com/feed.xml",
    "http://campbeja.github.io/feed.xml"
  ],"#multiple-feed-template","#multiple-destination",5);
  rss.init();
</script>
